@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.Navbar {
  position: fixed;
  color: white;
  z-index: 15;
  top: 0;
  right: 0;
  padding: 1rem 0;
  background-color: white;
  border-radius: 0 0 0 5px;
}

.Navbar-button {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.Home-button {
  background-image: linear-gradient(#030377, #000);
  border-radius: 0 0 0 5px;
  color:transparent;
  background-clip: text;
}

.About-button {
  background-image: linear-gradient(#282c34,#000);
  color:transparent;
  background-clip: text;
}

.Contact-button {
  background-image: linear-gradient(#000,purple);
  color:transparent;
  background-clip: text;
}

.Home-button:hover, .About-button:hover, .Contact-button:hover {
  color:white;
  background-clip: unset;
}

.Background-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Intro-div {
  background-image: linear-gradient(#030377, #000);
}

.About-div {
  background-image: linear-gradient(#282c34,#000);
  justify-content: flex-start;
}

.Contact-div {
  background-image: linear-gradient(#000,purple);
  justify-content: flex-start;
}

.Inner-text {
  z-index: 10;
  margin-top: 10vh;
}

.fadeIn {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Title {
  font-size: 4rem;
  font-weight: 400;
}

.Subtitle {
  font-size: 2rem;
  animation: fadeinfadeout 3s infinite;
}

@keyframes fadeinfadeout {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.backgroundOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.backgroundOverlay:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg,rgba(40,42,46,0),#282c34 95%);
  z-index: 2;
  content: "";
}

.Background-video {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.half-col {
  flex: 50%;
  padding: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background: linear-gradient(#28a745,green);
  border: 0;
  padding: 2vh 4vw;
  cursor: pointer
}

.btn-success:hover {
  background: linear-gradient(#28a745,darkgreen);
  box-shadow: 5px 0px 40px green;
}

/* START -- Mobile styles */
@media only screen and (max-width: 768px) {
  .Title {
    font-size: 2rem;
  }
  
  .Subtitle {
    font-size: 1.5rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
/* END -- Mobile styles */