@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Inner-text {
  position: absolute;
  z-index: 10;
}

.fadeIn {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Title {
  font-size: 4rem;
  font-weight: 400;
}

.Subtitle {
  font-size: 2rem;
  animation: fadeinfadeout 3s infinite;
}

@keyframes fadeinfadeout {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.backgroundOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.backgroundOverlay:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg,rgba(40,42,46,0),#282c34 95%);
  z-index: 2;
  content: "";
}

.Background-video {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
